<!DOCTYPE html>
<html ng-app="myApp">

<head>
        <title>angularjs</title>
        <script src="lib/angular.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="storeController as strctrl">

        <div class="wrapper">
                <div class="container">
                        <button ng-click="addNewUser=true" type="button" class="btn btn-success float-right">Add user
                        </button>


                        <table ng-show="addNewUser==false" class="table">
                                <thead class="bg-primary">
                                        <tr>
                                                <th scope="col">UserName</th>
                                                <th scope="col">Language</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">LocalAccount</th>
                                                <th scope="col"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr ng-repeat="person in persons track by $index">
                                                <th scope="row">{{person.fName}} {{person.lName}}</th>

                                                <td> {{person.lang}} </td>
                                                <td> {{person.email}} </td>
                                                <td> {{person.role}} </td>
                                                <td> {{person.account}} </td>
                                                <td ng-click="edit(person)"> edit </td>

                                        </tr>
                                </tbody>

                        </table>


                        <div ng-show="addNewUser" class="row">

                                <div class="col-md-3">
                                        <img src="./img/user.png" class="rounded float-left" alt="user-pic">
                                </div>

                                <div class="col-md-9">
                                        <form>

                                                <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                                <label> First Name </label>
                                                                <input ng-model="show.fName" type="text" class="form-control" name="fName">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                                <label> Last Name </label>
                                                                <input ng-model="show.lName" type="text" class="form-control" name="lName">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                                <label> Language </label>
                                                                <select ng-model="show.lang" class="form-control" name="lang">
                                                                        <option></option>
                                                                        <option>Arabic </option>
                                                                        <option> English </option>
                                                                </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                                <label> Email </label>
                                                                <input ng-model="show.email" type="text" class="form-control" name="email">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                                <label></label>
                                                                <input ng-model="show.account" type="checkbox" name="account"> LocalAccount
                                                        </div>

                                        </form>

                                        </div>
                                </div>
                                <div class="form-group col-md-6">
                                        <label> Role </label>
                                        <select ng-model="show.role" class="form-control" name="role">
                                                <option></option>
                                                <option>Admin </option>
                                                <option> teacher </option>
                                                <option> student </option>
                                        </select>
                                </div>
                                <div class="col-md-12">
                                        <div class="float-right">
                                                <button type="submit" ng-click="save()" class="btn btn-success" name="save" value="send"> Save
                                                </button>
                                                <button ng-click="reset()" type="button" class="btn btn-light"> Cancel </button>
                                        </div>
                                </div>
                        </div>
                </div>


</body>

</html>